spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:testdb
    initialization-mode: always
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none

    show-sql: true

  data:
    mongodb:
#      uri: mongodb://localhost:27012/library
#      uri: localhost
#      port: 27017
      database: library
#      authentication-database: admin
#      username: root
#      password: root

mongock:
#  runner-type: "ApplicationRunner" # default
  runner-type: "InitializingBean"
  change-logs-scan-package:
    - otus.orm.exp.changelog

logging:
  level:
    ROOT: ERROR